<div class="header-mid">
  <div class="container">
    <div class="row">
                  <div class="col-xs-12">
                      <div class="langs">
                <a class="active-lang" href="/">UA</a>
                <a href="/ru">RU</a>
              </div>
        </div>
      <div class="col-xs-12 col-sm-6 col-md-offset-1 col-md-5">
        <div class="inaction">
          <h1>Невидимий</h1>
          <p class="inaction__desc1">Супергідрофобний засіб</p>
          <h2 class="inaction__title">Aquaphob</h2>
          <p class="inaction__desc2">Надовго захистить ваш одяг і взуття від бруду</p>
          <div class="inaction__video">
               <iframe width="" height="" src="https://www.youtube.com/embed/PKo4UEae_gk?autoplay=1&rel=0&loop=1&mute=1" 
              frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
            </iframe>
          </div>
          <img class="boots-top hidden-xs wow bounceInUp" src="./assets/img/boots-top.png" alt="boots">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="top-form">
          <form action="Thanks.php" method="POST">
            <h3 class="top-form__title">Отримайте Aquaphob всього за <span class="top-form__crossed">500</span> <span class="top-form__price">249</span> <span class="currency">грн.</span></h3>
            <input type="text" name="name" class="top-form__name" placeholder="Введіть Ваше імя" required>
            <input type="tel" name="phone" class="top-form__phone my-phone" placeholder="Введіть Ваш телефон" required>
            <button class="top-form__send-to">Отримати зараз</button>
          </form>
          <img class="bottle-top hidden-xs" src="./assets/img/bottle-top.png" alt="bottle">
          <img class="strelka hidden-xs" src="./assets/img/Strelka1.png" alt="arrow">	
        </div>
      </div>
    </div>
  </div>
</div>
