<div class="attention">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="attention__title">Увага <span class="attention__highlight">Акція!</span></h2>
          <p class="attention__desc">Кількість акційного товару обмежена</p>
        </div>
        <div class="col-sm-12 hidden-xs hidden-md hidden-lg attention__part attention__part3">
          <div class="timer">
            <h3>До кінця акції:</h3>
            <div class="attention__mytimer1"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 attention__part attention__part1">
          <h3>При придбанні трьох флаконів - два в подарунок!</h3>
          <img class="img-responsive" src="../../../assets/img/5.png" alt="five-bottles">
          <div class="attention__price-item item-left">
            <div class="attention__price-item-inner">
              <div class="attention__price-box" >
                <span class="attention__price">	745</span>		
                <span class="attention__currency">грн.</span>
                <span class="attention__percents">149 грн./флакон</span>
              </div>
            </div>
          </div>
          <a href="" class="orderBottles ord-left" data-toggle="modal" data-target="#modal5Bottles">Замовити</a>
        </div>
        <div class="col-sm-6 col-md-4 attention__part attention__part2">
          <h3>При придбанні двох флаконів - один в подарунок!</h3>
          <img class="img-responsive" src="../../../assets/img/three-bottles.png" alt="three-bottles">
          <div class="attention__price-item item-cent">
            <div class="attention__price-item-inner">
              <div class="attention__price-box" >
                <span class="attention__price">	498</span>		
                <span class="attention__currency">грн.</span>
                <span class="attention__percents">166 грн./флакон</span>
              </div>
            </div>
          </div>
          <a href="" class="orderBottles ord-cent" data-toggle="modal" data-target="#modal3Bottles">Замовити</a>
        </div>
        <div class="hidden-sm col-md-4 attention__part attention__part3">
          <div class="timer">
            <h3>До кінця акції:</h3>
            <div class="attention__mytimer2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>