<div class="practice">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="practice__title">Як це <span class="practice__highlight">працює?</span></h2>
          <p class="practice__desc">Практика</p>
        </div>
        <div class="col-sm-3">
          <div class="practice__box">
            <h3 class="practice__numb">01</h3>
            <div class="practice__item">
              <img class="practice__item-img" src="../../../assets/img/step1.png" alt="step">
              
              <p class="practice__item-desc">Вимити і висушити поверхню взуття чи одягу</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="practice__box">
            <h3 class="practice__numb">02</h3>
            <div class="practice__item">
              <img class="practice__item-img" src="../../../assets/img/step22.png" alt="step">
              
              <p class="practice__item-desc">Рівномірно нанести по всій поверхні</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="practice__box">
            <h3 class="practice__numb">03</h3>
            <div class="practice__item">
              <img class="practice__item-img" src="../../../assets/img/step33.png" alt="step">
              
              <p class="practice__item-desc">Дати просохнути протягом 4-5 годин.
                                    Для максимального ефекту 24 години
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="practice__box">
            <h3 class="practice__numb">04</h3>
            <div class="practice__item">
              <img class="practice__item-img" src="../../../assets/img/step4.png" alt="step">
                
              <p class="practice__item-desc">Ваші взуття і одяг захищені від забруднень на термін
                <span class="practice__item-hl">до 3 місяців!</span>	
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <a href="../../../assets/instructions.pdf" class="instruction">Детальні інструкції</a>
        </div>
      </div>
    </div>
  </div><!-- end practice  -->
