<div class="header-top">
  <div class="container">
    <div class="row">
      <nav >
        <div class="col-xs-12 col-sm-5 col-md-3">
          <div class="header-top__logo">
          <a href="">	<img src="./assets/img/logoNew.png" alt="logo"></a>
          </div>
        </div>
        <div class="col-xs-6 hidden-sm hidden-md hidden-lg">
          <div class="nav-mobile hidden-sm hidden-md hidden-lg">
            <span class="nav-mobile__line nav-mobile__line--top"></span>
            <span class="nav-mobile__line nav-mobile__line--middle active"></span>
            <span class="nav-mobile__line nav-mobile__line--bottom"></span>		
          </div>
        </div>
        <ul id="menu" class="mymenu header-top__menu-mobile hidden-sm hidden-md hidden-lg">
          <li><a href="#hydrophobic">Що таке Aquaphob?</a></li>
          <li><a href="#howitworks">Як це працює</a></li>
          <li><a href="#reviews">Відгуки Клієнтів</a></li>
          <li><a href="#" class="buy-now" data-toggle="modal" data-target="#modalBuy">Замовити зараз!</a></li>
          <li><a href="#faq" class="questions">Питання</a></li>
        </ul>
        <div class="col-xs-6 col-sm-7 col-md-2 col-md-push-7">
          <div class="header-top__contacts">
            <a class="phone" href="tel:+38(067)010-90-07">+38(067)010-90-07</a>
            <a class="email" href="mailto:aquaphob.net@gmail.com">aquaphob.net@gmail.com</a>
          </div>
        </div>
        <div id="menu" class="hidden-xs col-sm-12 col-md-7 col-md-pull-2">

          <ul class="header-top__menu mymenu">
            <li><a href="#hydrophobic">Що таке Aquaphob?</a></li>
            <li><a href="#howitworks">Як це працює</a></li>
            <li><a href="#reviews">Відгуки Клієнтів</a></li>
            <li><a href="#" class="buy-now" data-toggle="modal" data-target="#modalBuy">Замовити зараз!</a></li>
            <li><a href="#faq" class="questions" >Питання</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>