<div class="problems">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="problems__title">Чи знайомі Вам ці <span class="problems__highlight">Проблеми?</span></h2>
        </div>
        <div class="col-sm-12">
          <div class="problems__slider">

            <div class="problems__slide">
              <img class="problems__slide-img" src="../../../assets/img/man1.png" alt="man1">
              <p class="problems__slide-desc">В сльоту або дощову погоду нижня частина штанин швидко забруднюється від бризок бруду</p>
              <img class="problems__slide-imgBot" src="../../../assets/img/pants.png" alt="pants">
            </div>

            <div class="problems__slide">
              <img class="problems__slide-img" src="../../../assets/img/woman1.png" alt="woman1">
              <p class="problems__slide-desc">Улюблене взуття від постійного використання в погану погоду швидко приходить в непридатність</p>
              <img class="problems__slide-imgBot" src="../../../assets/img/uggs.png" alt="uggs">
            </div>

            <div class="problems__slide">
              <img class="problems__slide-img" src="../../../assets/img/man2.jpg" alt="man2">
              <p class="problems__slide-desc">Варто лише один раз прогулятися в погану погоду - і нове взуття вже не виглядає новим</p>
              <img class="problems__slide-imgBot" src="../../../assets/img/cross_mud1.jpg" alt="cross">
            </div>

            <div class="problems__slide">
              <img class="problems__slide-img" src="../../../assets/img/woman2.jpg" alt="woman2">
              <p class="problems__slide-desc">Випадково перекинутий на веселій вечірці напій моментально псує новенький диван або ковролін</p>
              <img class="problems__slide-imgBot" src="../../../assets/img/vine.jpg" alt="vine">
            </div>

            <div class="problems__slide">
              <img class="problems__slide-img" src="../../../assets/img/man3.jpg" alt="woman3">
              <p class="problems__slide-desc">Агресивні дорожні реагенти взимку роз'їдають одяг і взуття залишаючи сліди</p>
              <img class="problems__slide-imgBot" src="../../../assets/img/dj_sol1.jpg" alt="sol">
            </div>
      
            <div class="problems__slide">
              <img class="problems__slide-img" src="../../../assets/img/woman3.jpg" alt="woman3">
              <p class="problems__slide-desc">Коли на вулицях міста тане неприбраний сніг взуття промокає за лічені хвилини</p>
              <img class="problems__slide-imgBot" src="../../../assets/img/snow1.jpg" alt="snow">
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="problems__connect">
            <div class="col-sm-7">
              <img class="problems__connect-img" src="../../../assets/img/people.png" alt="people">
            </div>
            <div class="col-sm-5 connect">
              <h3 class="connect__desc">Ті, хто вже придбав
                <span class="problems__highlight">Aquaphob</span>
                , давно забув про ці проблеми
              </h3>
              <a href="https://www.facebook.com/aquaphob/">Приєднуйтесь!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end problems  -->